@charset "UTF-8";

/* The height and padding for the header bar */
$header-height: 5rem;
$header-padding: 1.75rem;

/* The horizontal padding for the navigation and TOC sidebars */
$sidebar-padding: 5rem;

/* The default border colour for elements with borders */
$default-border-colour: rgb(230, 236, 241);

/* The colour for any box shadows */
$box-shadow-colour: rgba(116, 129, 141, 0.1);

/* The hover colour for custom-coloured hyperlinks */
$link-hover-colour: rgb(56, 132, 254);
